.lottery-popular.LottoryPopular-012 {
  justify-content: center;
}
.LottoryPopular-012 {
  .item-container {
    // width: 16.5%;
    flex: 0 0 auto;
    padding: 4px;
    list-style-type: none;
  }
}