.lottery-popular.LottoryPopular-011 {
  justify-content: center;
}
.LottoryPopular-011 {
  .item-container {
    flex: 0 0 auto;
    padding: 4px;
    list-style-type: none;
  }
}
.LottoryPopular-011-1 {
  .item-container {
    flex: 0 0 16.5%;
    padding: 4px;
    list-style-type: none;
  }
}
.LottoryPopular-011-2 {
  .item-container {
    flex: 1 1 33%;
    padding: 4px;
    list-style-type: none;
  }
}
