.LottoryPopular-009 {
  .item-container {
    flex: 1 1 33%;
    padding: 12px;
    list-style-type: none;
  }
}
.LottoryPopular-009-1 {
  .item-container {
    flex: 1 1 33%;
    list-style-type: none;
  }
}
