.lottery-popular.LottoryPopular-017 {
  max-width: 1200px;
  margin: 0px auto;
}
.LottoryPopular-017 {
  .item-container {
    height: 100%;
    flex: 1 0 33%;
    padding: 24px;
    list-style-type: none;
  }
}
