.Quickbar-006 {
  .item-container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-container + .item-container {
    border-left: 1px solid grey;
  }
}
