.item.LottoryPopularItem-008 {
  width: 100%;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
}
.LottoryPopularItem-008 {
  .item-img {
    width: 80px;
    object-fit: contain;
  }
  .item-title {
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 1rem ;
    font-weight: normal;
    line-height: 1.75rem;
    letter-spacing: 0.009375em ;
  }
  .item-content {
    height: 100%;
    padding: 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}