.item.LottoryPopularItem-007 {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
}
.LottoryPopularItem-007 {
  .item-img {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .item-title {
    position: absolute;
    top: 8px;
    left: 53%;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  .item-content {
    position: absolute;
    bottom: 15%;
    right: 5%;
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    padding: 0px 8px;
    border-radius: 8px;
  }
  &:nth-of-type(2) > .item-content {
    background-image: linear-gradient(to right, #fa9c79, #ff842b);
  }
}
.item.LottoryPopularItem-007-2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 0px;
}
.LottoryPopularItem-007-2 {
  .item-img {
    width: 100%;
    object-fit: contain;
  }
  .item-title {
    position: absolute;
    bottom: 15%;
    right: 10%;
    transform: translate(0%, 50%);
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 1rem ;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.009375em ;
    color: white;
    padding: 4px 8px;
    background-color: black;
    border-radius: 20px;
  }
}