.item.LottoryPopularItem-011 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 4px;
  padding-bottom: 100px;
  // background-color: black;
  background-image: linear-gradient(black 0%, black calc(100% - 100px), rgb(106,59, 131) calc(100% - 100px), rgb(106,59, 131) 100%);
  margin: 0px 10px;
  border-radius: 130px;
}

.LottoryPopularItem-011 {
  .item-img {
    margin: 10px;
    width: 240px;
    height: 240px;
    object-fit: contain;
    object-position: center;
    clip-path: circle(120px at 50% 50%);
  }
  .item-title {
    width: 100%;
    padding: 12px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
  }
  .item-content {
    width: 100%;
    padding: 12px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  &::after {
    content: '立即投注';
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    // color: white;
  }
}
.item.LottoryPopularItem-011-1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.LottoryPopularItem-011-1 {
  .item-img {
    width: 100%;
    object-fit: contain;
  }
  .item-title {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
  }
}
.item.LottoryPopularItem-011-2 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 4px;
}

.LottoryPopularItem-011-2 {
  .item-img {
    width: 100%;
    object-fit: contain;
  }
  .item-title {
    display: none;
    padding: 12px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.009375em;
  }
  .item-content {
    display: none;
    width: 100%;
    height: 100px;
    white-space: pre-wrap;
    padding: 12px;
  }
  &::after {
    content: '立即投注';
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: black;
    padding: 12px 24px;
  }
}