.NavbarItem-005 {
  display: flex;
  flex-direction: column;
  position: relative;
  .item-title {
    cursor: pointer;
    color: #525252;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.49px;
    white-space: nowrap;
  }
  &.select-item ::after {
    height: 5px;
    width: 100%;
    position: absolute;
    content: '';
    color: transparent;
    background-color: #8e7956;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -35px;
  }
  .logo {
    width: 160px;
    object-fit: contain;
  }
  .logo ::after {
    height: 0px;
  }
}