.NavbarItem-003 {
  .item-title {
    cursor: pointer;
    color: #525252;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1.49px;
    white-space: nowrap;
  }
  .logo {
    width: 160px;
  }
  .divide {
    cursor: none;
    padding: 0px;
    min-width: 30px;
  }
}