.item.NavbarItem-004 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NavbarItem-004 {
  .item-title {
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
    margin-top: 8px;
    color: white;
  }
  .logo {
    width: 200px;
    object-fit: contain;
  }
}