// 父組件的設定
.LottoryPopular-007 {
  .item-container {
    width: 100%;
    padding: 0px;
    list-style-type: none;
    margin: 8px 0px;
  }
}
// 父組件的設定
.LottoryPopular-007-2 {
  .item-container {
    width: 100%;
    padding: 0px;
    list-style-type: none;
  }
}