// 父組件的設定
.LottoryPopular-005 {
  .item-container {
    width: 100%;
    padding: 0px;
    list-style-type: none;
  }
}
// 父組件的設定
.LottoryPopular-005-2 {
  .item-container {
    width: 100%;
    padding: 0px;
    list-style-type: none;
  }
}
.LottoryPopular-005-3 {
  .item-container {
    width: 100%;
    padding: 0px;
    list-style-type: none;
  }
}