.item.QuickbarItem-006 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.QuickbarItem-006 {
  .item-title {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: black;
  }
  .item-img {
    width: 24px;
    object-fit: contain;
  }
  .item-icon {
    display: none;
  }
}